@mixin anim($time){-webkit-transition: all $time ease;-moz-transition: all $time ease;-ms-transition: all $time ease;-o-transition: all $time ease;transition: all $time ease;}
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num){-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num){-webkit-transform: skewX($num);-moz-transform: skewX($num);-ms-transform: skewX($num);-o-transform: skewX($num);transform: skewX($num);}
@mixin cnt($h){display: flex;flex-direction: column;height: $h;text-align: center;align-items: stretch;justify-content: center;}
//====================================================================================================
/*
font-family: 'Open Sans';
font-family: 'Raleway';
@extend .fr;
@include anim(0.3s);
*/
//====================================================================================================
.works{padding: 25px 0px 55px 0px;}
.works__title{font-family: 'Raleway';font-weight: 900;margin-bottom: 30px;font-size: 48px;color: #213047;}
.works-slider {
	.slick-arrow{@include anim(0.3s);position: absolute;top: 50%;width: 83px;margin-top: -45px;height: 90px;box-shadow: 0 4px 16px rgba(0, 0, 0, .25);background-size: 38px !important;z-index: 10;cursor: pointer;
		&:hover{width: 89px;height: 108px;margin-top: -54px;background-size: 45px !important;}
		&.slick-prev{border-radius:0 45px 45px 0;background: #ffffff url('../img/icons/sl-l.png') 10px center no-repeat;left: 0;
			&:hover{border-radius:0 54px 54px 0;background: #ffffff url('../img/icons/sl-l_h.png') 10px center no-repeat;}
		}
		&.slick-next{border-radius:45px 0px 0px 45px;background: #ffffff url('../img/icons/sl-r.png') 28px center no-repeat;right: 0;
			&:hover{border-radius:54px 0px 0px 54px;background: #ffffff url('../img/icons/sl-r_h.png') 28px center no-repeat;}
		}
	}
	.slick-slide{
		>div{
			&:first-child{padding-bottom: 30px;}
		}
	}
}
.works-slide {padding:0 15px;}
.works-slide-item {overflow: hidden;position: relative;
	&:hover{
		.works-slide-item-body__btn.btn{margin-bottom: 0;}
	}
}
.works-slide-item__image {
	img{max-width: 100%;}
}
.works-slide-item-body {position: absolute;bottom: 0%;width: 100%;left: 0;padding: 25px 15px 20px 15px;text-align: center;background-color: rgba(255,215,64,.8);}
.works-slide-item-body__title {text-transform: uppercase;font-size: 18px;color: #213047;line-height: 20px;}
.works-slide-item-body__btn.btn{@include anim(0.3s);margin-bottom: -200px;height: 42px;line-height: 42px;font-size: 14px;margin-top: 10px;overflow: hidden;position: relative;width: 70%;}

.works-button{text-align: center;padding-top: 55px;}
//====================================================================================================
.design-tarifs {margin: 110px 0px 0px 0px;}
.design-tarifs_hm{margin: 55px 0px 0px 0px;}
.design-tarifs_nm{margin: 0;}
.design-tarifs__title{font-family: 'Raleway';color: #ffffff;font-size: 30px;margin-bottom: 30px;font-weight: 900;}
.design-tarifs-types {padding-bottom: 40px;}
.design-tarifs__type.btn{height: 40px;line-height: 40px;font-size: 14px;margin: 0px 15px 15px 0px;display: inline-block;white-space: nowrap;}

.design-tarifs-row{margin:0 -15px;}
.design-tarifs-column{float: left;width: 33.333%;padding:0 15px;margin-bottom: 55px;}

.design-tarifs-item {height: 485px;background-color: #ffffff;position: relative;
	&:before{@include anim(0.3s);content:'';position: absolute;width: 100%;height: 100%;top: 0;left: 0;box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.06);background-color: #fff;}
	&:hover,&.active{z-index: 10;
		&:before{height: 520px;}
		&.design-tarifs-item_big:before{height: 640px;}
		
		.design-tarifs-item-top {border-top: 5px solid #42b8dd;}
		.design-tarifs-item-top__title {background-color:rgba(255,255,255,0.4);}
		.design-tarifs-item__price{border-bottom: 3px solid #42b8dd;}
		.design-tarifs-item__btn.btn {height: 42px;}
	}
	&.check{padding: 0;line-height: 1;
		&:before{content:'';background:#fff !important;width: 100%;height: 100%;border: none;border: none !important;}
		&:hover{
			&:after{content:'';position: absolute;top: 15px;left: 10px;width: 37px;height: 37px;border: 2px solid #1862ab;z-index: 5;}
		}
		&.active{
			&:after{content:'';position: absolute;top: 15px;left: 10px;width: 37px;height: 37px;border: 2px solid #1862ab;z-index: 5;background: url('../img/icons/check.png') center no-repeat;}
		}
	}
}
.design-tarifs-item_texthide{height: 340px;
	.design-tarifs-item__text{display: none;}
	&:hover{
		&:before{height: 580px;}
		.design-tarifs-item__text{display: block;}
	}
}
.design-tarifs-item_image{height: 208px;
	.design-tarifs-item-top__icon {display: none;}
	&:hover,&.active{
		&:before{height: 208px;}
		.design-tarifs-item-top__icon {display: table;}
	}
}
.design-tarifs-item_big{height: 600px;}
.design-tarifs-item_whywe{height: 335px;
	&:hover{
		&:before{height: 420px;}
		.design-tarifs-item-top__icon {display: block;}
	}
	.design-tarifs-item-top__icon {display: none;
		.cell{padding-bottom: 80px;}
	}
	.design-tarifs-item__btn.btn {margin: 0;}
}
.design-tarifs-item_kredit{height: 335px;
	&:hover{
		&:before{height: 400px;}
		.design-tarifs-item-top__icon {display: block;}
	}
	.design-tarifs-item-top__icon {display: none;
		.cell{padding-bottom: 80px;}
	}
}
.design-tarifs-item__replan{height: 312px;
	&:hover{
		&:before{height: 380px;}
		.design-tarifs-item-replan__title{background-color: #42b8dd;}
	}
}
.design-tarifs-item-replan__title{background-color: #f9d423;height: 77px;overflow: hidden;position: relative;z-index: 2;padding: 15px 25px;text-transform: uppercase;font-weight: 700;color: #282828;font-size: 18px;line-height: 22px;}

.design-tarifs-item-top {position: relative;border-top: 5px solid #f9d423;z-index: 2;height: 208px;overflow: hidden;}
.design-tarifs-item-top__icon {position: absolute;width: 100%;height: 100%;top: 0;left: 0;
	.table{position: absolute;width: 100%;height: 100%;top: 0;left: 0;}
	.cell{height: 100%;vertical-align: middle;text-align: center;padding-bottom: 60px;}
}
.design-tarifs-item-top__icon_1 {
	img{width: 55px;}
}
.design-tarifs-item-top__icon_2 {
	img{width: 68px;}
}
.design-tarifs-item-top__image {
	img{width: 100%;min-height: 208px;}
}
.design-tarifs-item-top__title {padding: 20px;background-color: #f9d423;position: absolute;bottom: 0;left: 0;width: 100%;text-align: center;text-transform: uppercase;font-weight: 700;color: #282828;font-size: 24px;}
.design-tarifs-item-body {padding: 30px;text-align: center;position: relative;z-index: 2;}
.design-tarifs-item__text {text-align: left;border-bottom: 1px solid #dfdfdf;padding:0 10px 20px 10px;color: #b4b4b4;font-size: 16px;font-weight: 300;line-height: 20px;margin-bottom: 30px;height: 80px;overflow: hidden;
	ul{overflow: hidden;
		li{margin-bottom: 10px;overflow: hidden;
			&:last-child{margin-bottom:0px;}
		}
	}
}
.design-tarifs-item__text_big{height: 205px;}
.design-tarifs-item__textscroll{height: 190px;}
.design-tarifs-item__price {color: #2c2c2c;font-size: 17px;border-bottom: 3px solid #f9d423;max-width: 215px;margin: 0px auto;padding-bottom: 10px;
	strong{font-size: 24px;}
}
.design-tarifs-item__days {color: #282828;font-size: 18px;font-weight: 700;padding-top: 20px;}
.design-tarifs-item__btn.btn {@include anim(0.3s);height: 0;overflow: hidden;line-height: 42px;margin-top: 20px;}

@media (max-width:1170px){
	.design-tarifs-item-replan__title{font-size: 15px;}
}

@media (max-width:992px){
	.design-tarifs-column{float: none;max-width: 500px;margin: 0px auto 30px auto;width: 100%;}
}
@media (max-width:767px){
	.design-tarifs{margin:50px 0px 0px 0px;}

	.design-tarifs-item-replan__title{line-height: 18px;}

	.design-tarifs__type.btn{padding:0 10px;}
}
//====================================================================================================
.design-scheme {padding-bottom: 50px;}
.design-scheme-header {margin-bottom: 80px;
	>.cell {padding: 0px 20px 0px 0px;vertical-align: middle;
		&:last-child{border-left: 2px solid #f9d423;padding-left: 20px;}
	}
}
.design-scheme__title{font-family: 'Raleway';font-size: 48px;font-weight: 900;color: #213047;}
.design-scheme-header-steps {color: #42b8dd;font-family: 'Raleway';font-weight: 700;
	>.cell{vertical-align: middle;}
}
.design-scheme-header-steps__num {font-size: 60px;line-height: 10px;}
.design-scheme-header-steps__text {font-size: 24px;padding-left: 5px;padding-top: 8px;}

.design-scheme-steps{position: relative;
	&:after{content:'';background: url('../img/bg_steps.png') center no-repeat;position: absolute;width: 808px;height: 577px;top: -47px;left: 235px;}
}
.design-scheme-steps-row{display: table;width: 100%;font-size: 0;text-align: center;}
.design-scheme-steps-column {width: 25%;margin-bottom: 44px;display: inline-block;}
.design-scheme-step {width: 220px;margin: 0px auto;box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.06);position: relative;z-index: 2;
	.imagebg{position: absolute;width: 100%;height: 100%;top: 0;left: 0;}
}
.design-scheme-step_1 {}
.design-scheme-step_2 {}
.design-scheme-step_3 {
	.design-scheme-step__num{line-height: 30px;}
}
.design-scheme-step_4 {
	.design-scheme-step__num{line-height: 30px;}
}
.design-scheme-step_5 {z-index: 3;
	.design-scheme-step__num{left:auto;right: -27px;}
}
.design-scheme-step_6 {z-index: 4;
	.design-scheme-step__num{left:auto;right: -27px;line-height: 45px;}
}
.design-scheme-step_7 {z-index: 5;position: relative;
	&:before{content:'';background: url('../img/confetti.png') 0 0 no-repeat;width: 231px;height: 97px;position: absolute;top: 50px;left: -100px;}
	.design-scheme-step__num{left:auto;right: -45px;width: 90px;height: 90px;font-size: 80px;line-height: 65px;top: 60px;}
}
.design-scheme-step__num{font-family: 'Raleway';font-size: 48px;font-weight: 700;line-height: 37px;position: absolute;z-index: 5;top: 82px;left: -27px;width: 54px;height: 54px;text-align: center;color: #f9d423;border: 5px solid #f9d423;border-radius: 50%;background-color: #fff;}
.design-scheme-step__image {height: 110px;overflow: hidden;position: relative;}
.design-scheme-step__text {font-family: 'Raleway';color: #213047;font-weight: 700;height: 112px;position: relative;text-align: left;
	.table{position: absolute;width: 100%;height: 100%;top: 0;left: 0;background-color: #fff;}
	.cell{height: 100%;font-size: 24px;padding: 0px 30px 0px 30px;vertical-align: middle;}
}

.design-scheme-steps-row_hide{}
.design-scheme-steps-row_mob{display: none;}

@media (max-width:1170px){
	.design-scheme-steps{
		&:after{left: 95px;}
	}
}
@media (max-width:992px){
	.design-scheme-steps{
		&:after{content:'';display: none;}
	}
	.design-scheme-steps-column {width: 33.33%;}
}
@media (max-width:767px){
	.design-scheme{padding-bottom: 0px;}
	.design-scheme-header {margin-bottom: 35px;
		>.cell{display: block;
			&:first-child{margin-bottom: 10px;}
			&:last-child{border: none;padding-left: 0;}
		}
	}
	.design-scheme__title{font-size: 38px;}
	.design-scheme-steps-column {width: 50%;}

	.design-scheme-steps-row_hide{display: none;}
	.design-scheme-steps-row_mob{display: block;}
}
@media (max-width:540px){
	.design-scheme-steps-column {width: 100%;}
}
//====================================================================================================
.design-text {padding: 50px 0px 70px 0px;}
.design-text-row {margin:0 -25px;}
.design-text-column {float: left;width: 50%;padding:0 25px;color: #5e5e5e;font-size: 14px;font-weight: 300;line-height: 18px;}

@media (max-width:767px){
	.design-text {padding: 0px 0px 20px 0px;}
	.design-text-column {width: 100%;float: none;
		&:first-child{margin-bottom: 20px;}
	}
}
//====================================================================================================
.design-work {padding: 40px 0px 130px 0px;}
.design-work-main {text-align: center;border: 1px solid #000;padding: 30px 0;margin-bottom: 40px;}
.design-work-main__title-1 {text-transform: uppercase;font-style: italic;font-size: 20px;}
.design-work-main__title-2 {font-style: italic;font-size: 35px;text-transform: uppercase;margin: 10px 0;}
.design-work-main__title-3 {font-style: italic;font-size: 20px;font-weight: 700;}
.design-work-main-slider {margin: 30px 0px 0px 0px;
	.slick-arrow{@include anim(0.3s);position: absolute;top: 50%;width: 83px;margin-top: -45px;height: 90px;box-shadow: 0 4px 16px rgba(0, 0, 0, .25);background-size: 38px !important;z-index: 10;cursor: pointer;
		&:hover{width: 89px;height: 108px;margin-top: -54px;background-size: 45px !important;}
		&.slick-prev{border-radius:0 45px 45px 0;background: #ffffff url('../img/icons/sl-l.png') 10px center no-repeat;left: 0;
			&:hover{border-radius:0 54px 54px 0;background: #ffffff url('../img/icons/sl-l_h.png') 10px center no-repeat;}
		}
		&.slick-next{border-radius:45px 0px 0px 45px;background: #ffffff url('../img/icons/sl-r.png') 28px center no-repeat;right: 0;
			&:hover{border-radius:54px 0px 0px 54px;background: #ffffff url('../img/icons/sl-r_h.png') 28px center no-repeat;}
		}
	}
}
.design-work-main-slide {padding: 20px;
	img{max-width: 100%;}
}
.design-work-main__year {font-size: 28px;padding-top: 20px;font-weight: 700;font-style: italic;}

.design-work-images {margin:0 -7.5px 20px -7.5px;}
.design-work-images-column {float: left;width: 16.6666%;padding:0 7.5px;margin-bottom: 20px;}
.design-work-images__item {
	img{width: 100%;}
}
.design-work-table-scroll{max-height: 230px;padding-right: 15px;}

.design-work-text {margin-bottom: 55px;
	p{color: #5e5e5e;font-size: 14px;line-height: 16px;margin-bottom: 15px;
		&:last-child{margin-bottom:0px;}
	}
}
.design-work-text__title {color: #5e5e5e;text-transform: uppercase;font-weight: 700;margin-bottom: 20px;}

.design-work-all{text-align: center;margin-bottom: 60px;}

@media (max-width:767px){
	.design-work {padding: 40px 0px 40px 0px;}
	.design-work-images-column {width: 33.333%;}
}
@media (max-width:479px){
	.design-work-images-column {width: 50%;}
}
//====================================================================================================
/*
font-family: 'Open Sans';
font-family: 'Raleway';
@extend .fr;
@include anim(0.3s);
*/
//====================================================================================================

